---
title: Default Title
css: /style.css
nesting: ../
---

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <head><title>{{ title }}</title></head>
    <link href="{{ nesting }}assets/favicon.ico" rel="icon" type="image/x-icon" />
    <link rel="stylesheet" href="{{css}}">
</head>

<main>{{ content }}</main>


</html>

