
<div class="header-content">
	<div class="header-title" style="display: inline-block; vertical-align: top;">Chi-Scraper</div>
	<img src="./Assets/ChiCurateRound.svg" alt="ChiCurate Icon" class="header-icon" style="display: inline-block; margin-left: auto; float: right;">
</div>
