
<title>ChiScraper</title>
<meta name="description" content="SHORT DESCRIPTION OF YOUR PAGE" />
<meta content="text/html;charset=utf-8" http-equiv="Content-Type" />
<meta content="utf-8" http-equiv="encoding" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link href="favicon.ico" rel="icon" type="image/x-icon" />
<link href="./style.css" rel="stylesheet" />

<script>
    // Template generated with petrapixel's layout generator.
    // Please do not remove this.
    console.log("%c Template generated with petrapixel's layout generator.", "font-size: 14pt;");
    console.log("%c https://petrapixel.neocities.org/coding/layout-generator", "font-size: 14pt;");
</script>