
<nav>
    <div class="sidebar-title">Navigation</div>
    <ul>
      <li><a href="./index">Home</a></li>
      <li><a href="./install.html">Install</a></li>
      <li><a href="./Use.html">Run</a></li>
      <li><a href="./Licence">Licence</a></li>
      <li>
      <details>
        <summary><a href="./HelpDocs">Help</a></summary>
                <ul>
                  <li><a href="./aiRanking">AI Ranking</a></li>
                  <li><a href="./localAIEval">Local AI Evaluation</a></li>
                  <li><a href="./searchConfig">Filter Configuration</a></li>
                </ul>
      </details>
      </li>
      <li><a href="./FAQs">FAQs </a> </li>
      <li><a href="./Contributing">Contributing</a></li>

  </ul>
</nav>

<div class="sidebar-section">
  <div class="sidebar-title">About The Program</div>
  <blockquote>
    <p>ChiCurate lets you curate your own personal feed for browsing the ArXiv. </p>
  </blockquote>
</div>


<div class="sidebar-section">
  <div class="sidebar-title">Project</div>
  <ul>
    <li><a href="https://github.com/ChiScraper/ChiScraper">GitHub</a></li>
  </ul>
</div>
       